body {
    background-color: pink;
    font-family: 'Arial', sans-serif;
    font-size: 20px;    
}

/* Grouping selectors using comma (h1, h2, h3) */
h1, h2 {
    font-family: 'Trebuchet MS', fantasy;
    font-style: italic;
}

h1 {
    background-color: indianred;
    color: white;
}

h2 {
    background-color: darkred;
    color: white;
}

footer {
    text-align: center;
}
